/* Estilos gerais */
*{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    width: 140px; /* Tamanho do logo */
    margin-left: 20px; /* Adiciona um espaçamento à esquerda */
}

.search-bar {
    position: relative;
    width: 50%;
    max-width: 600px;
    flex-grow: 1;
    margin: 0 20px;
}

/* Estilo do ícone de busca */
.search-bar .material-symbols-outlined {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}
 
/* Estilo do input */
.search-bar input {
    width: 100%;
    padding: 10px 20px 10px 40px; /* Espaço para o ícone à esquerda */
    border: 1px solid #ccc;
    border-radius: 30px;
    outline: none;
    font-size: 16px;
}

.nav-icons {
    display: flex;
    align-items: center;
}

.nav-icons .icon {
    margin-left: 20px;
    color: #333;
    text-decoration: none;
    font-size: 20px;
}

.user-menu {
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 20px;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.username {
    margin-right: 10px;
    font-size: 16px;
}

.dropdown {
    position: relative;
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 10px 12px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.material-symbols-rounded.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.dropdown-content.show {
    display: block;
}

.dropdown-btn {
    background: none;
    cursor: pointer;
    display: flex;
    border: none;
}

.dropdown-menu {
    max-height: 0; /* Define altura inicial zero */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa o limite de altura */
    visibility: hidden; /* Deixa o dropdown invisível */
    opacity: 0; /* Torna o menu invisível visualmente */
    transition: max-height 1s ease, opacity 1s ease, visibility 1s ease; /* Animação da altura */
    position: absolute;
    right: 0;
    top: 100%;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    list-style: none;
    padding: 10px;
    width: 200px;
    z-index: 10;
}

/* Mostra o dropdown quando ativo */
.show-dropdown {
    display: block;
}

.dropdown-menu li {
    padding: 10px 0;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #000; /* Adiciona a linha divisória */
}

.dropdown-menu li a {
    text-decoration: none;
    color: #2E41DD;
}

.dropdown-menu li:hover {
    background-color: #f1f1f1;
}

/* Classe para exibir o dropdown */
.show-dropdown {
    display: block;
}

/* Quando o menu está ativo, aumenta a altura máxima */

/* Exibir o dropdown quando acionado */
.show {
    display: block;
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .filters {
        flex-direction: column; /* Empilha os filtros verticalmente */
        align-items: stretch; /* Faz com que os botões ocupem toda a largura */
    }

    .filter-button {
        width: 100%; /* Botões ocupam 100% da largura da tela */
    }
}

/* Rotação do ícone do chevron quando o menu está visível */
.rotate {
    transform: rotate(180deg);
}

.banner-placeholder {
    width: 100%; /* O container ocupa 100% da largura da tela */
    display: flex;
    justify-content: center; /* Centraliza a imagem horizontalmente */
}

.banner-placeholder img {
    width: 100%; /* A imagem ocupa 100% da largura do container */
    height: auto; /* Mantém a proporção da imagem */
    max-width: 100%; /* Garante que a imagem não ultrapasse o tamanho do container */
    object-fit: cover; /* Ajusta a imagem sem distorcer */
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cria 4 colunas de tamanhos iguais */
    gap: 80px; /* Espaço entre as colunas */
    padding: 20px; /* Padding ao redor do grid */
}

p{
    margin-left: 20px
}

#courses-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas */
    gap: 20px;
    padding: 20px;
    align-items: start; /* Garante que todos os cards comecem no topo */
}

.course-card {
    display: flex;
    flex-direction: column; /* Organiza o conteúdo em colunas */
    justify-content: space-between; /* Distribui o conteúdo entre o topo e o final */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    min-height: 450px; /* Define uma altura mínima para os cards */
}

/* Responsividade */
@media (max-width: 1024px) {
    #courses-container {
        grid-template-columns: repeat(2, 1fr); /* 2 cards por linha em telas menores */
    }
}

@media (max-width: 768px) {
    #courses-container {
        grid-template-columns: 1fr; /* 1 card por linha em telas muito pequenas */
    }
}

.course-card:hover{
    transform: scale(1.03);
}

.course-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

.course-card h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

.course-card p {
    font-size: 13px;
    color: #000;
    margin-bottom: 8px;
}

.areas-icons-container {
    display: flex;
    justify-content: space-between; /* Alinha as áreas e os ícones na mesma linha */
    align-items: center;
    margin-top: auto; /* Empurra essa seção para o final do card */
}

.areas {
    display: flex;
    flex-wrap: wrap; /* Permite que as tags quebrem linha, se necessário */
    gap: 8px;
}

.areas .tag {
    display: inline-block;
    padding: 5px 10px;
    background-color: #EAB1BD;
    border-radius: 16px;
    font-size: 12px;
    color: #333;
}


.icons {
    display: flex;
    gap: 10px; /* Espaçamento entre os ícones */
}

.icons .material-icons {
    font-size: 24px;
    cursor: pointer;
    color: #2E41DD;
}

.icons .favorite-icon {
    color: #CC415E; /* Cor do ícone de favorito */
}

.icons .material-icons:hover {
    transform: scale(1.1);
}

.card-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.card-info .material-icons,
.card-info .material-icons-round {
    font-size: 24px;
    color: #2E41DD;
    margin-right: 8px; /* Espaço entre o ícone e o texto */
}

.card-info p {
    display: flex;
    align-items: center; /* Alinha o texto e o ícone verticalmente */
    margin: 0; /* Remove a margem padrão dos parágrafos */
}

.page-container {
    display: grid;
    grid-template-columns: 1fr 300px; /* Conteúdo principal (1fr) e barra de ads com 300px */
    gap: 20px; /* Espaçamento entre as colunas */
    padding: 20px;
}

.main-content {
    padding: 0px;
    border-radius: 8px;
    min-height: 300px;
    width: 100%;
    margin: 0 auto;
}

h3 {
    margin-top: 20px;
    font-size: 24px;
    color: #333;
    margin-left: 20px;
}

h4 {
    margin-top: 0;
    color: #555;
    margin-left: 20px;
}

/* Media queries para diferentes tamanhos de tela */
@media (max-width: 1200px) {
    h3 {
        font-size: 22px;
    }
    h4 {
        font-size: 18px;
    }
}

@media (max-width: 992px) {
    h3 {
        font-size: 20px;
    }
    h4 {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    h3 {
        font-size: 18px;
    }
    h4 {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    h3 {
        font-size: 16px;
    }
    h4 {
        font-size: 12px;
    }
}

.ads-sidebar {
    width: 100%;
    max-width: 250px; /* Reduz a largura máxima para 250px */
    margin: 0 auto; /* Centraliza o conteúdo da sidebar */
    padding: 10px;
}

.ad-space {
    margin-bottom: 15px; /* Diminui o espaçamento entre os ads */
}

.ad-space img {
    width: 100%; /* Faz com que a imagem se ajuste à largura disponível */
    height: auto; /* Ajusta a altura proporcionalmente */
    object-fit: cover; /* Garante que a imagem não fique distorcida */
    border-radius: 8px; /* Bordas arredondadas */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Para telas maiores */
@media (min-width: 1024px) {
    .ads-sidebar {
        max-width: 220px; /* Largura ainda menor para telas grandes */
    }

    .ad-space img {
        border-radius: 10px;
    }
}

/* Para tablets ou telas medianas */
@media (min-width: 768px) and (max-width: 1023px) {
    .ads-sidebar {
        max-width: 200px; /* Largura reduzida para tablets */
    }

    .ad-space img {
        border-radius: 6px;
    }
}

/* Para dispositivos móveis */
@media (max-width: 767px) {
    .ads-sidebar {
        max-width: 180px; /* Largura reduzida para dispositivos móveis */
        padding: 5px;
    }

    .ad-space img {
        border-radius: 4px;
    }
}


/* Estilo para a search-filters */
.search-filters {
    margin-bottom: 20px; /* Espaço abaixo dos filtros */
    margin-left: 20px;
    max-width: 96%; /* Largura máxima da seção de busca */
}

/* Estilização do container da busca */
.search-container {
    margin-bottom: 20px; /* Espaço abaixo do container de busca */
    text-align: left; /* Alinha todos os elementos dentro à esquerda */
}

/* Estilização para o título */
.search-container h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 15px; /* Espaçamento abaixo do título */
    text-align: left; /* Alinha o título à esquerda */
}

/* Estilização da barra de busca */
.search-filter {
    display: flex;
    align-items: center; /* Alinha o ícone e o campo de texto no centro verticalmente */
    border: 1px solid #ccc; /* Borda ao redor da barra de busca */
    border-radius: 30px; /* Bordas arredondadas */
    padding: 10px; /* Espaçamento interno */
    max-width: 100%; /* Garante que a barra de busca ocupe toda a largura disponível */
}

.search-filter span {
    margin-right: 10px; /* Espaçamento entre o ícone e o campo de texto */
}

.search-filter input[type="text"] {
    flex: 1; /* Faz o campo de texto ocupar o espaço restante */
    border: none; /* Remove a borda padrão do input */
    font-size: 16px; /* Tamanho do texto no campo de busca */
    padding: 6px; /* Espaçamento interno no campo de texto */
    border-radius: 16px; /* Bordas arredondadas */
    outline: none; /* Remove o contorno padrão */
}

.search-filter input[type="text"]::placeholder {
    color: #888; /* Cor do texto placeholder */
}

.filters-container {
    display: flex;
    justify-content: space-between; /* Alinha os botões de filtro à esquerda e o botão Filtrar à direita */
    align-items: center; /* Garante que todos os botões fiquem alinhados verticalmente */
    gap: 20px; /* Espaçamento entre os grupos */
}

/* Estilos base */
.filters {
    display: flex;
    flex-wrap: wrap; /* Para que os filtros quebrem para a próxima linha, se necessário */
    gap: 10px; /* Espaço entre os filtros */
    justify-content: space-between; /* Ajusta os filtros ao longo da largura disponível */
    margin-bottom: 15px; /* Espaço entre os filtros e o conteúdo abaixo */
}

.filter-button {
    background-color: transparent;
    color: #2E41DD;
    border: 1px solid #2E41DD;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o texto e o ícone */
}

.filter-button:hover {
    background-color: #2E41DD; /* Fundo azul ao passar o mouse */
    color: white; /* Cor do texto ao passar o mouse */
    border-color: #2E41DD; /* Borda azul ao passar o mouse */
}

.filter-button .material-symbols-outlined {
    font-size: 25px;
    color: #2E41DD;
}

.filter-button:hover .material-symbols-outlined {
    color: white;
}

.filter-submit {
    padding: 10px 20px;
    background-color: #CC415E;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
}

.filter-submit:hover {
    background-color: #A32E48;
}

.courses-box{
    text-align: left; /* Alinha todos os elementos dentro à esquerda */
}

#areas-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas em telas grandes */
    gap: 20px; /* Espaçamento entre os cards */
}

@media (max-width: 768px) {
    #areas-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas em telas menores */
    }
}

@media (max-width: 480px) {
    #areas-container {
        grid-template-columns: 1fr; /* 1 coluna em telas muito pequenas */
    }
}

.area-card {
    display: flex;
    flex-direction: column; /* Alinha os elementos verticalmente */
    justify-content: space-between; /* Faz o título ir para o final do card */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Garante que conteúdo não vaze do card */
    min-height: 200px; /* Altura mínima para os cards */
    height: auto; /* Para que os cards se ajustem */
}

@media (max-width: 1024px) {
    .area-card {
        min-height: 180px; /* Ajuste para telas médias */
    }
}

@media (max-width: 768px) {
    .area-card {
        min-height: 160px; /* Ajuste para telas pequenas */
    }
}

@media (max-width: 480px) {
    .area-card {
        min-height: 140px; /* Ajuste para telas muito pequenas */
    }
}

.area-card:hover{
    transform: scale(1.03);
}

.area-card img {
    width: 100%; /* A imagem ocupa toda a largura disponível */
    height: auto; /* Ajusta a altura automaticamente para manter a proporção */
    max-height: 200px; /* Limita a altura máxima da imagem */
    object-fit: cover; /* Garante que a imagem preencha o espaço sem distorção */
    border-radius: 8px; /* Bordas arredondadas no topo */
}

@media (max-width: 768px) {
    .area-card img {
        max-height: 160px; /* Altura menor para telas médias */
    }
}

@media (max-width: 480px) {
    .area-card img {
        max-height: 120px; /* Altura menor para telas pequenas */
    }
}

.area-card h2 {
    font-size: 18px; /* Tamanho padrão */
    color: #333;
    text-align: center;
    margin: 10px 0 0 0;
}

@media (max-width: 1024px) {
    .area-card h2 {
        font-size: 16px; /* Ajusta a fonte em telas menores */
    }
}

@media (max-width: 768px) {
    .area-card h2 {
        font-size: 14px; /* Fonte menor em telas médias */
    }
}

@media (max-width: 480px) {
    .area-card h2 {
        font-size: 12px; /* Fonte ainda menor em telas pequenas */
    }
}



button.org-button {
    background: transparent;
    border: 2px solid #CC415E;
    color: #CC415E;
    padding: 8px;
    border-radius: 100px;
}

button.org-button:hover {
    background-color: #f3f3f3;
}

button.account-button {
    background-color: #2E41DD;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 100px;
}

button.account-button:hover {
    background-color: #1e2a9c;
}

#selected-filters {
    margin-top: 10px; /* Espaçamento acima da lista de filtros selecionados */
    display: flex;
    flex-wrap: wrap; /* Faz com que os filtros quebrem linha se necessário */
    gap: 10px; /* Adiciona espaçamento entre os filtros selecionados */
    justify-content: flex-start; /* Alinha os filtros à esquerda */
    padding: 0; /* Remove qualquer preenchimento */
}

.selected-filter {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 15px;
    border: 1px solid #CC415E;
    color: #CC415E;
    display: inline-block;
    /* Remover margens */
    margin: 0; /* Remove margens para garantir alinhamento */
}

.selected-filter + .selected-filter {
    margin-left: 10px;
}

