/* Reset de estilo básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo da página */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* Estilo para o container da imagem e detalhes do curso */
.course-details {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os elementos, ajuste conforme necessário */
}

/* Estilo para a imagem do curso */
#course-image {
    max-width: 1000px; /* Ajusta a imagem para não exceder a largura do container */
    width: 130%;
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Adiciona bordas arredondadas */
}

/* Estilo para a container de data e hora */
.time-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
    font-size: 1rem; /* Ajusta o tamanho da fonte conforme necessário */
}

/* Estilo para a container de localização */
.location-container {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaço entre o ícone e o texto */
    font-size: 1rem; /* Ajusta o tamanho da fonte conforme necessário */
}

.material-icons {
    font-size: 1.2rem; /* Ajusta o tamanho do ícone conforme necessário */
    color: #2E41DD; /* Cor dos ícones, ajuste conforme necessário */
}

/* Estilo para o container dos botões */
.button-container {
    display: flex;
    flex-direction: column; /* Empilha os botões verticalmente */
    gap: 10px; /* Espaço entre os botões */
}

.infos-cont {
    display: flex;
    justify-content: space-between; /* Alinha os itens principais ao longo do eixo principal (horizontal) */
    gap: 20px; /* Espaço entre os itens */
}

/* Container para título e descrição do curso */
.cont-one {
    flex: 1; /* Faz com que o container ocupe o espaço disponível restante */
}

/* Container para os botões de ação */
.cont-two {
    /* Adiciona um alinhamento específico à direita do container principal */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Espaço entre os botões */
    align-items: flex-end; /* Alinha os itens ao final do eixo transversal (direita) */
}
